.logo{
font-size: 14px;
color: #15387a;
font-weight: 600;
}
.logo span{
  font-size: 14px;
color: #f77221;
}
.skyblue {
  background-color: #58b5fc !important;
}
.lightGreen {
  background-color: #61d861 !important;
}
.lightBlue{
  background-color: #7965f1 !important;
}
.orange{
  background-color: #ff625b !important;
}
.content-bx{
  width: 100%;
  padding: 15px 30px;
  transition: 0.5s all;
  border-radius: 5px;
  text-align: right;
  color: #fff;
}
.content-bx h5{
 font-size: 30px;
 margin-bottom: 20px; color: #fff;
}
.content-bx p{
  font-size: 17px;
  margin-bottom: 0; color: #fff;
}
.refresh{
  display: none;
}

/* registration page */
.register {
  width: 50%;
  min-width: 300px;
  position: relative;
  background: #f5f5f5;
  color: #eee;
margin: 0 auto;
  border: 5px solid #ddd;
  padding: 30px;
  border-radius: 10px;
}
.register > .logo{
  font-size: 25px;
   color: #222;
  text-align: center;
  margin: 0 0 20px;
  display: block;
}
.register > .logo > span{
  font-size: 18px;
}
.register h2 {
   color: #222;
  margin: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.go_regster{
  position: relative;
  width: 100%;
  text-align: center;
  display: block;
  font-weight: 500;
  margin-top: 10px;
  font-size: 17px;
  color: #222;

}
.go_regster a{
  color: #03a9f4;
  margin-left: 5px;
}
.inputBox {
  position: relative;
  margin-bottom: 30px;
}
.inputBox input {
  width: 100%;
  position: relative;
  padding: 10px 0px;
  font-size: 16px;
   color: #222;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
  margin-bottom: 10px;
}

.inputBox input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
    -webkit-text-fill-color: #03a9f4;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
} 

.inputBox label {
   color: #222;
  letter-spacing: 1px;
  position: absolute;
  top: -20px;
  ;
  left: 0;
  padding: 10px 0px;
  pointer-events: none;
  transition: .5s;
}

.inputBox input:focus~label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 13px;
}
.inputBox #file{
  margin-top: 10px;
}
#message , #messageCpass{
  /* background: rgba(255,255,255,0.9); */
  box-shadow: 0px 0px 10px rgba(255,255,255,0.9);
  position: absolute;
  max-width:400px;
  width: 100%;
  top: -4px;
  right: 0;
  overflow: auto;
  height: auto;
  bottom: auto;
  color: #222;
  margin: 0 auto;
  border-radius: 4px;
  padding-left: 5px;
}
#messageCpass{
  max-width: 150px;
  top: 0;
}
#message::after, #messageCpass::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
#message span, #messageCpass span {
  display: inline-block;
  font-size: 13px;
  margin-left: 5px;
  margin-bottom: 0;
}
.valid {
  color: #61d861;
}

.valid:before {
  position: relative;
  left: -4px;
  content: "✔";
}

.invalid {
  /* color: #dc3545; */
  color: #222;
}

.invalid:before {
  position: relative;
  left: -4px;
  content: "✖";
}

.inbox-head{
  /* width: 100%; */
  background-color: #fff;
  position: relative;
  padding: 10px;
}
